<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack-PCL" version="1.4.6" targetFramework="xamarinios10" />
  <package id="SharpZipLib.Portable" version="0.86.0.0002" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="xamarinios10" />
  <package id="SQLitePCL.raw_basic" version="0.8.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Insights" version="1.11.1" targetFramework="xamarinios10" />
</packages>