<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="net45" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="net45" />
  <package id="SQLitePCL.raw_basic" version="0.8.0" targetFramework="net45" />
  <package id="Xamarin.Insights" version="1.11.2" targetFramework="net45" />
</packages>